<div class="form-group" >
  	<label class="control-label">
  		<h3 ng-if="label">
  			<b class="text-danger" ng-if="config.displayRequiredStar" title="{{::$root.dictionary.titleFormFieldRequire}}">*</b> 
  			{{::label}}:
  		</h3>
  	</label>
  	<blockquote>{{model}}</blockquote>
  	<select 
  		class="form-control input-sm"
	  	ng-repeat="select in config.options.cascade track by $index"
	  	ng-options="option[select.modelKey] as option[select.displayKey] for option in select.data"
	  	ng-model="select.value">
	  <option value="" disabled>---{{::$root.dictionary.phrasePleaseSelect}}---</option> <!-- not selected / blank option -->
	</select>
  	<div ng-if="!pristine" ng-include="$root.dataTablarBaseFolder + '/views/form-element-messages.html'"></div>
</div>
