<div class="form-group" ng-class="{'has-success': valid, 'has-error': !valid}">
    <label class="control-label">
        <h3 ng-if="label">
        	<b class="text-danger" ng-if="config.displayRequiredStar" title="{{::$root.dataTablarDictionary.titleFormFieldRequire}}">*</b> 
        	{{::label}}:
        </h3>
    </label>
    <p class="input-group input-sm">
        <input type="text" 
        	class="form-control input-sm" 
            ng-disabled="disabled"
            ng-model-options="{ debounce: 200 }"
        	uib-datepicker-popup="" 
        	ng-model="datePickerModel" 
        	is-open="popupOpened" />
        <span class="input-group-btn">
	    	<button 
                ng-disabled="disabled"
	    		type="button" 
	    		ng-class="{'btn-success': valid,'btn-primary': !valid}"
	    		class="btn btn-sm" 
	    		ng-click="openPopup()" >
	    		<i class="fa fa-calendar"></i>
	    	</button>
	  	</span>
    </p>
    <div ng-include="$root.dataTablarBaseFolder + '/views/form-element-messages.html'"></div>
</div>
