<div class="modal-header">
    <h3 class="modal-title">
    	{{::$root.dataTablarDictionary.titleModalUpdate}}
    </h3>
</div>
<div class="modal-body dttb-modal-body">
	<div 
    	ng-repeat="column in columns track by $index" 
    	ng-if="!column.uneditable" 
    	ng-switch="column.formType">
    	 <!--Form Type: input -->
      	<dttb-form-input
	        type="{{::column.dataType}}"
	        config="column.formTypeConfig"
	        label="{{::column.label}}"
	        model="row[column.key]"
	        validations="column.validations"
	        valid="column.valid"
	        ng-switch-when="input"></dttb-form-input>
        <!--Form Type: textarea -->
      	<dttb-form-textarea
	        config="column.formTypeConfig"
	        label="{{::column.label}}"
	        model="row[column.key]"
	        validations="column.validations"
	        valid="column.valid"
	        ng-switch-when="textarea"></dttb-form-textarea>
      	<!--Form Type: radio -->
      	<dttb-form-radio
	        ng-switch-when="radio"
	        label="{{::column.label}}"
	        model="row[column.key]"
	        validations="column.validations"
	        valid="column.valid"
	        config="column.formTypeConfig"></dttb-form-radio>
      	<!--Form Type: typeahead -->
      	<dttb-form-typeahead
	        ng-switch-when="typeahead"
	        label="{{::column.label}}"
	        model="row[column.key]"
	        validations="column.validations"
	        valid="column.valid"
	        config="column.formTypeConfig"></dttb-form-typeahead>
	    <!--Form Type: selectsingle -->
      	<dttb-form-selectsingle
	        ng-switch-when="selectSingle"
	        label="{{::column.label}}"
	        model="row[column.key]"
	        validations="column.validations"
	        valid="column.valid"
	        config="column.formTypeConfig"></dttb-form-selectsingle>
      	<!--Form Type: selectmultiple -->
      	<dttb-form-selectmultiple
	        ng-switch-when="selectMultiple"
	        label="{{::column.label}}"
	        model="row[column.key]"
	        validations="column.validations"
	        valid="column.valid"
	        config="column.formTypeConfig"></dttb-form-selectmultiple>
      	<!--Form Type: datepicker -->
      	<dttb-form-datepicker
	        ng-switch-when="datePicker"
	        label="{{::column.label}}"
	        model="row[column.key]"
	        validations="column.validations"
	        valid="column.valid"
	        config="column.formTypeConfig"></dttb-form-datepicker>
	    <!--Form Type: boolean -->
	    <dttb-form-boolean
	        ng-switch-when="boolean"
	        label="{{::column.label}}"
	        model="row[column.key]"
	        validations="column.validations"
	        valid="column.valid"
	        config="column.formTypeConfig"></dttb-form-boolean>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="confirmDialog()">
    	<i class="fa fa-check"></i>
    	<span>{{::$root.dataTablarDictionary.wordSubmit}}</span>
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="closeDialog()">
    	<i class="fa fa-close"></i>
    	<span>{{::$root.dataTablarDictionary.wordCancel}}</span>
    </button>
</div>