<div class="modal-header">
	<h3 class="modal-title">
		{{::$root.dataTablarDictionary.titleModalDelete}}
	</h3>
</div>
<div class="modal-body dttb-modal-body">
    {{::$root.dataTablarDictionary.confirmationDelete}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="confirmDialog()">
    	<i class="fa fa-trash"></i>
        <span>{{::$root.dataTablarDictionary.wordSubmit}}</span>
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="closeDialog()">
    	<i class="fa fa-close"></i>
        <span>{{::$root.dataTablarDictionary.wordCancel}}</span>
    </button>
</div>