<div class="dttb-body-wrapper" id="{{::dttb.config.table.uniqueCssId}}">
  <div class="dttb-loading-spinner-wrapper" ng-if="!dttb.needFakeSpinner || dttb.showSpinner"><div class="dttb-loading-spinner"></div></div>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed dttb-table table-bordered">
      <thead>
        <tr>
          <th
            ng-if="!dttb.tableState.hiddenCheckColumn" 
            class="dttb-column-checkbox">
            <!--!Selecting all rows-->
            <input 
              title="{{::$root.dataTablarDictionary.titleSelectAllRows}}"
              type="checkbox" 
              ng-model="dttb.tableState.selectedAll" 
              ng-change="dttb.selectAllRows();">
          </th>
          <th
            ng-if="!dttb.tableState.hiddenActionsColumn">
            <span>{{::$root.dataTablarDictionary.wordActions}}</span>
            <span class="btn-group pull-right" title="{{::$root.dataTablarDictionary.wordActions}}">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-sliders"></i>
              </a>
              <ul ng-class="{'dropdown-menu-right':!$first}" class="dropdown-menu">
                <li class="dropdown-header">
                  <span>{{::$root.dataTablarDictionary.phraseAllColumnsTitleDirection}}</span>
                </li>
                <li>
                  <a href="" ng-click="dttb.setAllColumnsTitleDirection('horizontal');">
                    <i class="fa fa-arrows-h"></i>
                    <span>{{::$root.dataTablarDictionary.wordHorizontal}}</span>
                  </a>
                </li>
                <li>
                  <a href="" ng-click="dttb.setAllColumnsTitleDirection('vertical');">
                    <i class="fa fa-arrows-v"></i>
                    <span>{{::$root.dataTablarDictionary.wordVertical}}</span>
                  </a>
                </li>
                <li>
                  <a href="" ng-click="dttb.setAllColumnsTitleDirection('diagonal');">
                    <i class="fa fa-expand"></i>
                    <span>{{::$root.dataTablarDictionary.wordDiagonal}}</span>
                  </a>
                </li>
              </ul>
            </span>
          </th>
          <th
            class="dttb-column-{{column.headerDirection}}"
            ng-repeat="column in dttb.config.columns track by column.key"
            ng-if="!column.hidden">
            <!--Column Label-->  
            <span 
              ng-if="!column.allowLocalFilter || !column.dttbTempLocalFilterActive" 
              class="dttb-{{column.headerDirection}}-text">
              {{::column.label}}
            </span>
            <!--Column Local Filter--> 
            <span
              ng-if="column.allowLocalFilter && column.dttbTempLocalFilterActive" >
              <input 
                ng-model="dttb.tableState.localFilters[column.displayKey]"
                ng-model-options="{ debounce: 200 }"
                class="input-sm form-control" 
                placeholder="Filter text. E.g 'joh'">
            </span>
            <!--Column sortable--> 
            <a 
              class="pull-right dttb-cursor-pointer" 
              href="" 
              ng-if="column.sortable"
              ng-click="dttb.sortByCol(column.displayKey);">
              <span title="{{::$root.dataTablarDictionary.phraseSortByThisCol}}" 
                ng-if="dttb.tableQuery.sort.col !== column.displayKey">
                <i class="fa fa-fw fa-sort"></i>
              </span>
              <span ng-if="dttb.tableQuery.sort.col == column.displayKey">
                <i title="{{::$root.dataTablarDictionary.phraseAscOrder}}" ng-if="dttb.tableQuery.sort.dir" class="fa fa-fw fa-sort-asc"></i>
                <i title="{{::$root.dataTablarDictionary.phraseDescOrder}}" ng-if="!dttb.tableQuery.sort.dir" class="fa fa-fw fa-sort-desc"></i>
              </span>
            </a>
            <!--Column Dropdown Actions--> 
            <span class="btn-group pull-right" title="{{::$root.dataTablarDictionary.wordActions}}">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-sliders"></i>
              </a>
              <ul ng-class="{'dropdown-menu-right':!$first}" class="dropdown-menu">
                <li class="dropdown-header"><span>{{::$root.dataTablarDictionary.wordActions}}</span></li>
                <li ng-class="{active: column.highlighted}">
                  <a href="" ng-click="column.highlighted=!column.highlighted">
                    <i class="fa fa-fw fa-lightbulb-o"></i>
                    <span>{{::$root.dataTablarDictionary.wordHighlight}}</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                  <span>{{::$root.dataTablarDictionary.phraseTitleDirection}}</span>
                </li>
                <li ng-class="{active: !column.headerDirection || column.headerDirection=='horizontal'}">
                  <a href="" ng-click="column.headerDirection='horizontal';">
                    <i class="fa fa-arrows-h"></i>
                    <span>{{::$root.dataTablarDictionary.wordHorizontal}}</span>
                  </a>
                </li>
                <li ng-class="{active: column.headerDirection=='vertical'}">
                  <a href="" ng-click="column.headerDirection='vertical';">
                    <i class="fa fa-arrows-v"></i>
                    <span>{{::$root.dataTablarDictionary.wordVertical}}</span>
                  </a>
                </li>
                <li ng-class="{active: column.headerDirection=='diagonal'}">
                  <a href="" ng-click="column.headerDirection='diagonal';">
                    <i class="fa fa-expand"></i>
                    <span>{{::$root.dataTablarDictionary.wordDiagonal}}</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                  <span>{{::$root.dataTablarDictionary.phraseTextAlignment}}</span>
                </li>
                <li ng-class="{active: !column.alignClass}">
                  <a href="" ng-click="column.alignClass='';">
                    <i class="fa fa-align-left"></i>
                    <span>{{::$root.dataTablarDictionary.wordLeft}}</span>
                  </a>
                </li>
                <li ng-class="{active: column.alignClass=='text-center'}">
                  <a href="" ng-click="column.alignClass='text-center';">
                    <i class="fa fa-align-center"></i>
                    <span>{{::$root.dataTablarDictionary.wordCenter}}</span>
                  </a>
                </li>
                <li ng-class="{active: column.alignClass=='pull-right'}">
                  <a href="" ng-click="column.alignClass='pull-right';">
                    <i class="fa fa-align-right"></i>
                    <span>{{::$root.dataTablarDictionary.wordRight}}</span>
                  </a>
                </li>
              </ul>
            </span>
            <!--Column Local Filter--> 
            <a ng-if="column.allowLocalFilter" 
              class="pull-right dttb-cursor-pointer" 
              href=""
              ng-click="column.dttbTempLocalFilterActive=!column.dttbTempLocalFilterActive;">
              <i class="fa fa-times" 
                title="{{::$root.dataTablarDictionary.wordCancel}}"
                ng-if="column.dttbTempLocalFilterActive"></i>
              <i class="fa fa-filter" 
                title="{{::$root.dataTablarDictionary.titleFilterByThisCol}}"
                ng-if="!column.dttbTempLocalFilterActive"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody class="dttb-table-main-min-height">
        <!--NO RECORD FOUND--> 
        <tr ng-if="dttb.data.length === 0">
          <td>
            <h5 class="text-danger text-center">
              <i class="fa fa-warning"></i>
              <span>{{::$root.dataTablarDictionary.phraseNoCheckbox}}</span>
            </h5>
          </td>
          <td>
            <h5 class="text-danger text-center">
              <i class="fa fa-warning"></i>
              <span>{{::$root.dataTablarDictionary.phraseNoAction}}</span>
            </h5>
          </td>
          <td
            ng-repeat="column in dttb.config.columns track by column.key"
            ng-if="!column.hidden">
              <h5 class="text-danger text-center">
                <i class="fa fa-warning"></i>
                <span>{{::$root.dataTablarDictionary.phraseNoData}}</span>
              </h5>
          </td>
        </tr>
        <!--Start displaying table data--> 
        <tr
          id="{{row.dttbCssId}}"
          ng-if="dttb.data.length > 0"
          ng-repeat="row in dttb.data | filter:dttb.tableState.localFilters track by $index"
          ng-init="$rowIndex = $index"
          ng-class="{'dttb-highlighted-row': row.dttbTempHighlighted,}">
          <!--Checkbox column -->
          <td ng-if="!dttb.tableState.hiddenCheckColumn" 
            class="dttb-column-checkbox">
            <input 
              title="{{::$root.dataTablarDictionary.titleSelectThisRow}}"
              type="checkbox" 
              ng-model="dttb.tableState.selectedRows[$index]" 
              ng-change="dttb.selectRow();">
          </td>
          <!--Actions column -->
          <td ng-if="!dttb.tableState.hiddenActionsColumn" class="dttb-column-actions">
            <!--Highlight row button -->
            <a 
              title="{{::$root.dataTablarDictionary.titleRowHighlight}}" 
              ng-class="{'btn-success': !row.dttbTempHighlighted, 'btn-default': row.dttbTempHighlighted}" 
              class="btn btn-xs" 
              ng-click="row.dttbTempHighlighted=!row.dttbTempHighlighted">
              <i 
                ng-class="{'fa-lightbulb-o': !row.dttbTempHighlighted, 'fa-power-off': row.dttbTempHighlighted}"  
                class="fa"></i>           
            </a>
            <!--View row detail button -->
            <a 
              title="{{::$root.dataTablarDictionary.titleRowDetail}}" 
              class="btn btn-info btn-xs" 
              ng-click="dttb.viewRowDetail(row);">
                <i class="fa fa-info-circle"></i>
            </a>
            <!--Updating row button -->
            <a 
              title="{{::$root.dataTablarDictionary.titleRowUpdate}}" 
              class="btn btn-warning btn-xs" 
              ng-click="dttb.updateRow(row);" 
              ng-if="dttb.config.actions.updating.onRow && !row.dttbNotAllowUpdating">
                <i class="fa fa-pencil"></i>
            </a>
            <!--Delete button -->
            <a 
              title="{{::$root.dataTablarDictionary.titleRowDelete}}" 
              class="btn btn-danger btn-xs" 
              ng-click="dttb.deleteRow(row)"
              ng-if="dttb.config.actions.deleting && !row.dttbNotAllowDeleting">
                <i class="fa fa-trash"></i>
            </a>
          </td>
          <!--Displaying columns data-->
          <td
            class="dttb-column-{{column.headerDirection}} {{row.dttbHighlightClasses[column.key]}}"
            ng-class="{'dttb-highlighted-col': column.highlighted,}"
            ng-repeat="column in dttb.config.columns track by column.key"
            ng-if="!column.hidden">
            <!--Column uneditable-->
            <div 
              title="{{::$root.dataTablarDictionary.titleCellNotEditable}}"
              ng-if="column.uneditable || (!column.uneditable && row.dttbNotAllowUpdating)" 
              ng-class="[column.alignClass, {'dttb-text-rtl': column.RTLtext}]">
              <span ng-switch="column.displayAs">
                <!--Image-->
                <span ng-switch-when="image">
                  <img 
                    ng-click="dttb.zoomInImage(row[column.displayKey], column.label);" 
                    ng-src="{{row[column.displayKey]}}" 
                    class="img-thumbnail dttb-display-as-image" 
                    alt="{{::column.label}}">
                </span>
                <!--Url-->
                <span ng-switch-when="url">
                  <a target="_blank" href="{{row[column.key]}}" title="{{::column.label}}">{{row[column.displayKey]}}</a>
                </span>
                <!--Email-->
                <span ng-switch-when="email">
                  <a target="_blank" href="mailto:{{row[column.key]}}" title="{{::column.label}}">{{row[column.displayKey]}}</a>
                </span>
                <!--Html-->
                <span ng-switch-when="html">
                  <div ng-bind-html="row[column.displayKey]"></div>
                </span>
                <!--currency-->
                  <span ng-switch-when="currency">
                    {{row[column.displayKey] | dttbCellFormat:'currency':column.displayAsConfig}}
                  </span>
                <!--number-->
                <span ng-switch-when="number">
                  {{row[column.displayKey] | dttbCellFormat:'number':column.displayAsConfig}}
                </span>
                <!--ordinal-->
                <span ng-switch-when="ordinal">
                  {{row[column.displayKey] | dttbCellFormat:'ordinal'}}
                </span>
                <!--Text-->
                <span ng-switch-when="text">
                  <span ng-if="column.displayAsConfig && column.displayAsConfig.limitToLength">
                    <abbr title="{{row[column.displayKey]}}">
                      {{row[column.displayKey] | dttbCellFormat:'text':column.displayAsConfig}}
                    </abbr>
                  </span>
                  <span ng-if="!column.displayAsConfig || !column.displayAsConfig.limitToLength">
                    {{row[column.displayKey] | dttbCellFormat:'text':column.displayAsConfig}}
                  </span>
                </span>
                <!--array-->
                <span ng-switch-when="array">
                  <div ng-bind-html="row[column.displayKey] | dttbCellFormat:'array':column.displayAsConfig"></div>
                </span>
                <!--Boolean-->
                <span ng-switch-when="boolean">
                  <div ng-bind-html="row[column.displayKey] | dttbCellFormat:'boolean':column.displayAsConfig"></div>
                </span>
                <!--Date-->
                <span ng-switch-when="date" class="dttb-column-{{column.headerDirection}}">
                  {{row[column.displayKey] | dttbCellFormat:'date':column.displayAsConfig}}
                </span>
                <!--default-->
                <span ng-switch-default>
                  {{row[column.displayKey]}}
                </span>
              </span>
            </div>
            <!--Column editable-->
            <div ng-if="!column.uneditable && !row.dttbNotAllowUpdating">
              <!--If this cell is not currently updating. So it is double clickable.-->
              <div
                ng-if="!row.dttbOnUpdating || !column.dttbOnUpdating"
                class="dttb-cursor-pointer dttb-cell-editable"
                ng-class="[column.alignClass, {'dttb-text-rtl': column.RTLtext}]"
                ng-dblclick="dttb.triggerCellUpdating(row, column);"
                title="{{::$root.dataTablarDictionary.titleDoubleClickUpdateCell}}">
                <span ng-switch="column.displayAs">
                  <!--Image-->
                  <span ng-switch-when="image">
                    <a 
                      class="btn btn-warning btn-xs" 
                      ng-click="dttb.triggerCellUpdating(row, column);" 
                      title="{{::$root.dataTablarDictionary.wordUpdate}}">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <br>
                    <img 
                      ng-click="dttb.zoomInImage(row[column.displayKey], column.label);" 
                      ng-src="{{row[column.displayKey]}}" 
                      class="img-thumbnail dttb-display-as-image" 
                      alt="{{::column.label}}">
                  </span>
                  <!--Url-->
                  <span ng-switch-when="url">
                    <a 
                      class="btn btn-warning btn-xs" 
                      ng-click="dttb.triggerCellUpdating(row, column);" 
                      title="{{::$root.dataTablarDictionary.wordUpdate}}">
                      <i class="fa fa-pencil"></i>
                    </a>
                    &nbsp;
                    <a target="_blank" href="{{row[column.key]}}" title="{{::column.label}}">{{row[column.displayKey]}}</a>
                  </span>
                  <!--Email-->
                  <span ng-switch-when="email">
                    <a 
                      class="btn btn-warning btn-xs" 
                      ng-click="dttb.triggerCellUpdating(row, column);" 
                      title="{{::$root.dataTablarDictionary.wordUpdate}}">
                      <i class="fa fa-pencil"></i>
                    </a>
                    &nbsp;
                    <a target="_blank" href="mailto:{{row[column.key]}}" title="{{::column.label}}">{{row[column.displayKey]}}</a>
                  </span>
                  <!--Html-->
                  <span ng-switch-when="html">
                    <div ng-bind-html="row[column.displayKey]"></div>
                  </span>
                  <!--currency-->
                  <span ng-switch-when="currency">
                    {{row[column.displayKey] | dttbCellFormat:'currency':column.displayAsConfig}}
                  </span>
                  <!--number-->
                  <span ng-switch-when="number">
                    {{row[column.displayKey] | dttbCellFormat:'number':column.displayAsConfig}}
                  </span>
                  <!--ordinal-->
                  <span ng-switch-when="ordinal">
                    {{row[column.displayKey] | dttbCellFormat:'ordinal'}}
                  </span>
                  <!--Text-->
                  <span ng-switch-when="text">
                    <span ng-if="column.displayAsConfig && column.displayAsConfig.limitToLength">
                      <abbr title="{{row[column.displayKey]}}">
                        {{row[column.displayKey] | dttbCellFormat:'text':column.displayAsConfig}}
                      </abbr>
                    </span>
                    <span ng-if="!column.displayAsConfig || !column.displayAsConfig.limitToLength">
                      {{row[column.displayKey] | dttbCellFormat:'text':column.displayAsConfig}}
                    </span>
                  </span>
                  <!--array-->
                  <span ng-switch-when="array">
                    <div ng-bind-html="row[column.displayKey] | dttbCellFormat:'array':column.displayAsConfig"></div>
                  </span>
                  <!--Boolean-->
                  <span ng-switch-when="boolean">
                    <div ng-bind-html="row[column.displayKey] | dttbCellFormat:'boolean':column.displayAsConfig"></div>
                  </span>
                  <!--Date-->
                  <span ng-switch-when="date">
                    {{row[column.displayKey] | dttbCellFormat:'date':column.displayAsConfig}}
                  </span>
                  <!--default-->
                  <span ng-switch-default>
                    {{row[column.displayKey]}}
                  </span>
                </span>
              </div>
              <!--If this cell is currently updating-->
              <span
                ng-if="row.dttbOnUpdating && column.dttbOnUpdating">
                <div>
                  <button
                    type="button"
                    title="{{::$root.dataTablarDictionary.wordSubmit}}"
                    ng-disabled="!column.valid"
                    ng-click="dttb.submitCellUpdating(row, column);"
                    class="btn btn-primary btn-xs"
                    data-dismiss="alert">
                    <i class="fa fa-check"></i>
                  </button>
                  <button
                    type="button"
                    title="{{::$root.dataTablarDictionary.wordCancel}}"
                    ng-click="dttb.cancelCellUpdating(row, column);"
                    class="btn btn-default btn-xs"
                    data-dismiss="alert">
                    <i class="fa fa-close"></i>
                  </button>
                </div>
                <div ng-switch="column.formType">
                  <!--Formtype Input-->
                  <dttb-form-input
                    model="row[column.key]"
                    validations="column.validations"
                    type="{{::column.dataType}}"
                    valid="column.valid"
                    config="column.formTypeConfig"
                    ng-switch-when="input"></dttb-form-input>
                  <!--Formtype textarea-->
                  <dttb-form-textarea
                    model="row[column.key]"
                    validations="column.validations"
                    valid="column.valid"
                    config="column.formTypeConfig"
                    ng-switch-when="textarea"></dttb-form-textarea>
                  <!--Formtype select single-->
                  <dttb-form-selectsingle
                    ng-switch-when="selectSingle"
                    validations="column.validations"
                    valid="column.valid"
                    model="row[column.key]"
                    config="column.formTypeConfig"></dttb-form-selectsingle>
                  <!--Formtype select multiple-->
                  <dttb-form-selectmultiple
                    ng-switch-when="selectMultiple"
                    model="row[column.key]"
                    validations="column.validations"
                    valid="column.valid"
                    config="column.formTypeConfig"></dttb-form-selectmultiple>
                  <!--Formtype datepicker-->
                  <dttb-form-datepicker
                    ng-switch-when="datePicker"
                    model="row[column.key]"
                    validations="column.validations"
                    valid="column.valid"
                    config="column.formTypeConfig"></dttb-form-datepicker>
                  <!--Formtype typeahead-->
                  <dttb-form-typeahead
                    ng-switch-when="typeahead"
                    model="row[column.key]"
                    validations="column.validations"
                    valid="column.valid"
                    config="column.formTypeConfig"></dttb-form-typeahead>
                  <!--Formtype radio-->
                  <dttb-form-radio
                    ng-switch-when="radio"
                    model="row[column.key]"
                    validations="column.validations"
                    valid="column.valid"
                    config="column.formTypeConfig"></dttb-form-radio>
                  <!--Formtype boolean-->
                  <dttb-form-boolean
                    ng-switch-when="boolean"
                    model="row[column.key]"
                    validations="column.validations"
                    valid="column.valid"
                    config="column.formTypeConfig"></dttb-form-boolean>
                </div>
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <th 
            ng-if="!dttb.tableState.hiddenCheckColumn"
            class="dttb-column-checkbox">
            <input 
              title="{{::$root.dataTablarDictionary.titleSelectAllRows}}"
              type="checkbox" 
              ng-model="dttb.tableState.selectedAll" 
              ng-change="dttb.selectAllRows();">
          </th>
          <th
            ng-if="!dttb.tableState.hiddenActionsColumn">
            <span>{{::$root.dataTablarDictionary.wordActions}}</span>
          </th>
          <th
            ng-repeat="column in dttb.config.columns track by column.key"
            ng-if="!column.hidden">
            <div ng-if="column.displayAs == 'number' || column.displayAs == 'currency'">
              <div class="btn-group dropup">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-calculator"></i>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">
                    <span>{{::$root.dataTablarDictionary.phraseSummaryBy}}</span>
                  </li>
                  <li ng-class="{active: column.summaryType==0}">
                    <a href="" ng-click="column.summaryType=0;">
                      <span>{{::$root.dataTablarDictionary.wordSum}}</span>
                    </a>
                  </li>
                  <li ng-class="{active: column.summaryType==1}">
                    <a href="" ng-click="column.summaryType=1;">
                      <span>{{::$root.dataTablarDictionary.wordAverage}}</span>
                    </a>
                  </li>
                  <li ng-class="{active: column.summaryType==2}">
                    <a href="" ng-click="column.summaryType=2;">
                      <span>{{::$root.dataTablarDictionary.wordMin}}</span>
                    </a>
                  </li>
                  <li ng-class="{active: column.summaryType==3}">
                    <a href="" ng-click="column.summaryType=3;">
                      <span>{{::$root.dataTablarDictionary.wordMax}}</span>
                    </a>
                  </li>
                </ul>
              </div>
              <span>
                {{column.displayKey | dttbRowSummary:dttb.data:column.summaryType | dttbCellFormat:column.displayAs:column.displayAsConfig}}
              </span>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>